{% extends 'base.html' %}

{% block content %}

<style>
.cart-box{
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    max-width: 600px;
    margin: auto;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.item{
    padding: 10px;
    border-bottom: 1px solid #334155;
    display: flex;
    justify-content: space-between;
}

.total{
    margin-top: 15px;
    font-size: 22px;
    color: #4ade80;
    font-weight: bold;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}
</style>

<div class="cart-box">

<h2>🛒 Your Cart</h2>

{% if cart_items %}

    {% for item in cart_items %}
        <div class="item">
            <span>{{ item.name }}</span>
            <span>₹{{ item.price }}</span>
        </div>
    {% endfor %}

    <div class="total">
        Total: ₹{{ total }}
    </div>

    <a class="btn" href="/place-order/">
        Place Order
    </a>

{% else %}
    <p>Your cart is empty 😢</p>
{% endif %}

</div>

{% endblock %}