{% extends 'base.html' %}

{% block content %}

<style>
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card{
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: 0.3s;
    border: 1px solid #334155;
}

.card:hover{
    transform: scale(1.05);
    border-color: #38bdf8;
}

.card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.price{
    color: #4ade80;
    font-weight: bold;
}

.btn{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover{
    background: #0ea5e9;
}
</style>

<h2>🔥 Featured Products</h2>

<div class="container">

{% for product in products %}

<div class="card">

    {% if product.image %}
        <img src="{{ product.image.url }}">
    {% endif %}

    <h3>{{ product.name }}</h3>

    <p class="price">₹{{ product.price }}</p>

    <a class="btn" href="/product/{{ product.id }}/">
        View
    </a>

</div>

{% endfor %}

</div>

{% endblock %}